<!doctype html>
<html lang = "en">

<!-- <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css'> -->
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'><link rel="stylesheet" href="/css/style.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> -->




<footer>
  <div class="text-center" style="background:#d6d6d6">
    <p class="mb-0 h4 text-red font-weight-normal" style="color:#0c040c">Made by Eli and Musa! 2021.</p>
    <p style="color:#3eb0fa;"> Visualizing police shootings in the US in order to inform others.</p>
    <a class="btn bg-thatblue text-white font-weight-bold" href="https://github.com/washingtonpost/data-police-shootings" role="button">
      LINK TO DATA
      <i class="ml-1 fas fa-hand-point-right"></i>
    </a>
  </div>
</footer>

  <!-- <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js'></script><script  src='/js/script.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script><script  src="/js/script2.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
